* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(249, 249, 249);
  overflow-x: hidden;
}

.btn {
  width: 80vw;
  height: 2rem;
  position: fixed;
  bottom: 20px; /* Distance from the bottom edge */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust horizontally to center */
  border-radius: 1rem;
  cursor: pointer;
}

.footer {
  display: none;
  background-color: rgba(209, 209, 209, 0.5);
  height: 5rem;
  position: fixed;
  bottom: 0px; /* Distance from the bottom edge */
  width: 100vw;
  left: 50%;
  transform: translateX(-50%); /* Adjust horizontally to center */
}

.wrapper {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(227, 227, 227);
  /* padding: 1rem; */
  border-radius: 1rem;
}

img {
  border-radius: 1rem 1rem 0 0;
  z-index: 0;
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.center {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(52, 52, 52);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
